
<html>
  <head>
    <title>sitechecker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/checker/main.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="/static/js/checker/home.js"></script>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="container" id="formContainer">
          <form class="form-signin" id="login" role="form" action="/" method="post">
          <h3 class="form-signin-heading">sitechecker</h3>
            {% csrf_token %}
              <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Gmail Nickname" required autofocus />
              <input type="text" class="form-control" id="siteurl" name="siteurl" placeholder="Site URL to Check" required />

              <button class="btn btn-lg btn-primary btn-block" type="submit" id="register" >Register</button>
              <button class="btn btn-lg btn-danger btn-block" type="button" id="delete" onclick="delete_site()">Delete</button>
          {% if site %}
              <div>
                <p>Registered!! Check your email!</p>
                <ul>
                  <li>Nickname: {{ site.user.nickname }}</li>
                  <li>Site: {{ site.url }}</li>
                </ul>
              </div>
          {% endif %}
          {% endblock %}
        </form>
      </div> <!-- form container -->
    </div> <!--row -->
  </div> <!-- container -->
</body>
</html>
